
.form_container{
    width:80%;
  }
  @media screen and (max-width:1000px) {
    .form_container{
      width:40%;
    };
    
  }
  @media screen and (max-width:700px) {
    .form_container{
      width:70%;
    };
    
  }
  .today{
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
  }